* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: transparent;
  /* overflow-y: hidden;
  overflow-x: hidden;
  margin-left: calc(100vw - 100%);

  min-height: 100vh;
  min-height: -webkit-fill-available; */
}
/* 
html {
  min-height: -webkit-fill-available;
}
 */
